.Profile-container {
  width: 80%;
  margin: 10px auto;
}

.Profile-container > h2 {
  font-size: larger;
}

.Profile-container > h3 {
  font-size: large;
  font-weight: 400;
}

.Profile-avatar {
  width: 150px;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}
.Profile-container > ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
.Profile-container > ul > li {
  display: flex;
  justify-content: space-between;
}
.Profile-container > ul > li > span {
  font-weight: 600;
}

ul, li {
  justify-content: space-between;
}

.Profile-text {
  margin-top: 10%;
}
