.extra-container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.extra-container video {
  max-width: 100%;
  height: auto;
}

.projectDetails_img {
  max-width: 30%;
  flex-direction: column;
  align-items: center;
}
