project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-link {
  color: #3b8296;
}

.btn-outline {
  color: white;
  background-color: #3b8296;
  border-radius: 9999px;
}
