@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.App {
  text-align: center;
  font-family: 'Poiret One', cursive;
  min-height: 100vh;
}

.App-link {
  color: #3b8296;
}
